body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.header {
  width: 100%;
  display: flex;
  background-color:#3B3B98;
  color: rgb(251,251,251);
}

.my-photo {
  width: 20%;
}

.my-photo img {
  width: 100%;
}

.header-content {
  width: 40%;
  margin: 20px;
  font-size: 18px;
  
}
.header-content-name,
.header-content-description{
    font-size: 40px;
    color:#EAB543;
}

section {
  margin: 10px;
  padding: 10px;
  background-color: #EAB543;
  color: rgb(251,251,251);
}

.section-header {
  cursor: pointer;
}

.experience,
.studies {
  display: none;
  color: black;
  width: 50%;
}

.active {
  display: block;
  background-color: rgb(251,251,251);
  padding: 10px;
  margin:10px;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.social-button{
    text-decoration: none;
    padding: 0;
    color:#EAB543;
}

.social-links li{
    list-style: none;
    
}

.section-studies, 
.section-experience{
    margin: 15px;
}
.button-cv{
    border-radius: 25px;
    border: none;
    width: 150px;
    height: 30px;
    background-color:#3B3B98;
}

.button-cv:hover{
    background-color:#182C61;
    color: rgb(251,251,251);
}

.button-cv-2{
    border-radius: 25px;
    border: none;
    width: 150px;
    height: 30px;
    background-color:#EAB543;
}
.button-cv-2:hover{
    background-color:#FD7272;
    color: rgb(251,251,251);
}

.footer{
    background-color: #3B3B98;
    margin: 15px 0;
    padding: 10px 0;
    
}